.loader-block {
  @apply flex items-center justify-center py-10;
}

.loader {
  @apply w-12 h-12 border-4 border-solid rounded-full inline-block;
  border-bottom-color: transparent;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
