.loader-wrapper {
  @apply flex items-center justify-center py-10;
}

.loader {
  @apply inline-block w-12 h-12 rounded-full border-4 border-solid border-gray-300;
  border-bottom-color: transparent;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
